<a href="https://colab.research.google.com/github/carbaluar/Presentaci-n/blob/main/CRR_impurezas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from matplotlib import pyplot as plt
import sqlite3
import datetime

In [7]:
df = pd.read_excel('/content/DBImpurezas.xlsx')
df.head()

   SODIO  CALCIO      CRR     CRD  CRRbin
0    600     260  85.6581  3.5554       1
1    380     250  85.6581  3.5554       1
2    350     240  85.6581  3.5554       1
3    410     270  85.6581  3.5554       1
4    460     280  85.6581  3.5554       1